[Unit]
Description=Status Exporter Service
Documentation=https://github.com/Blase-ssa/telegram_status_bot/blob/main/bashapps/status_exporter/Readme.md
After=network.target

[Service]
User=sexport
ExecStart=/opt/status_exporter/startexporter.sh service
ExecStopPost=/opt/status_exporter/cleanup.sh
PIDFile=/var/run/status_exporter/statusexporter.pid
RuntimeDirectory=status_exporter
RuntimeDirectoryMode=0755
KillMode=control-group
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
