[Unit]
Description=Status Exporter: The application allows you to check the server load level, as well as collect a specific list of metrics for the docker. All data is provided in JSON format.
Documentation=https://github.com/Blase-ssa/telegram_status_bot/blob/main/bashapps/status_exporter/Readme.md
After=network.target auditd.service

[Service]
User=sexport
ExecStart=/opt/status_exporter/startexporter.sh
ExecStop==/opt/status_exporter/stopexporter.sh
PIDFile=/var/run/statusexporter.pid
KillMode=process
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
